framework = net45
source https://www.nuget.org/api/v2

nuget Chiron
nuget EventStore.Client.Embedded
nuget EventStore.Client
nuget FSharp.Core
nuget Fuchu
nuget NuGet.CommandLine
nuget protobuf-net
nuget NLog